<section id="zukunftsprozess" class="home-section zukunftsprozess">
  <div class="reveal" id="helpSectionModal" data-reveal="true"></div>
  <div class="container">
    <div class="row small-up-1 medium-up-2">
      <div class="column">
        <div class="cta">
          <h1>
            <span>
              <span class="blue">Kirche</span> <span class="green">gemeinsam</span> <span class="red">gestalten.</span>
            </span>
          </h1>
          <p><span>Willkommen auf deiner Beteiligungsplattform f체r die Kirche von morgen.</span></p>
          <p><span><%= link_to "mehr erfahren #{icon('chevron-right', class: 'inline')}", '#', data: { open: 'helpSectionModal', open_url: "/help_sections/home" } %></span></p>
        </div>
      </div>
      <div class="column">
        <% if recent_blog_post.present? %>
          <%= link_to Ema::Blog::Engine.routes.url_helpers.ema_blog_post_path(recent_blog_post), class: 'blog-post' do %>
            <% if recent_blog_post.hero_image.attached? %>
              <%= image_tag recent_blog_post.attached_uploader(:hero_image).variant_path :medium %>
            <% end %>
            <div class="teaser">
              <%= truncate(recent_blog_post.title, length: 50) %>
              <div class="text-right link">
                <%= "mehr #{icon('chevron-right', class: 'inline')}" %>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>



    <div class="row small-up-1 medium-up-3 buttons">
        <div class="column">
          <a href="/ideas" class="startpage_primary_button ideas">
            Inspirationen

            <div class="small">Finde Praxisbeispiele und trage Ideen bei.</div>
          </a>
        </div>
        <div class="column">
          <a href="/assemblies" class="startpage_primary_button assemblies">
            Werkr채ume

            <div class="small">Entdecke laufende Initiativen.</div>
          </a>

        </div>
        <div class="column">
          <a href="/processes" class="startpage_primary_button processes">
            Prozesse

            <div class="small">Informiere dich 체ber laufende Ver채nderungsprozesse.</div>
          </a>
        </div>
      </div>
    </div>
  </section>
