.card
  .card__content
    .card-divider
      %h2.card-title
        Blog

        .button--title
          = link_to 'Neuer Blogpost', new_blog_post_path, class: 'button tiny button--title'
    .card-section
      %table.table-list
        %thead
          %tr
            %th Titel
            %th Erstellt
            %th.table-list__actions

        %tbody
          - @blog_posts.each do |blog_post|
            %tr
              %td
                = link_to blog_post.title, blog_post_path(blog_post)
              %td
                = l(blog_post.created_at, format: :short)
              %td
                = icon_link_to 'eye', blog_post_path(blog_post), 'Anzeigen'
                = icon_link_to 'pencil', edit_blog_post_path(blog_post), 'Bearbeiten'
                = icon_link_to 'circle-x', blog_post_path(blog_post), 'Löschen', method: :delete, class: 'action-icon--remove', data: { confirm: 'Bist Du sicher' }

= decidim_paginate @blog_posts
