.card
  .card__content
    .card-divider
      %h2.card-title
        = t('title', scope: 'ema.blog_posts.admin.index')

        .button--title
          = link_to t('new_blog_post', scope: 'ema.blog_posts.admin.index'), new_post_path, class: 'button tiny button--title'
    .card-section
      %table.table-list
        %thead
          %tr
            %th Titel
            %th Erstellt
            %th Veröffentlicht
            %th.table-list__actions

        %tbody
          - @blog_posts.each do |blog_post|
            %tr
              %td
                = link_to blog_post.title, post_path(blog_post)
              %td
                = l(blog_post.created_at, format: :short)
              %td
                = t(blog_post.published.to_s, scope: 'ema.blog_posts.admin.show.published')
              %td
                = icon_link_to 'eye', post_path(blog_post), t('show', scope: 'ema.blog_posts.admin.index')
                = icon_link_to 'pencil', edit_post_path(blog_post), t('edit', scope: 'ema.blog_posts.admin.index')
                = icon_link_to 'circle-x', post_path(blog_post), t('delete', scope: 'ema.blog_posts.admin.index'), method: :delete, class: 'action-icon--remove', data: { confirm: t('delete_confirmation', scope: 'ema.blog_posts.admin.index') }

= decidim_paginate @blog_posts
