= decidim_form_for(@blog_post, url: posts_path, html: { class: 'form' }) do |f|
  .card
    .card__content
      .card-divider
        %h2.card-title
          Neuer Blogpost

      .card-section
        .row.column
          = f.text_field :title

        .row.column
          .field
            = f.editor :body, lines: 8, toolbar: :full

  .button--double
    = f.submit 'Blogpost erstellen', class: 'button', data: { disable_with: true }
    = link_to 'Abbrechen', posts_path, class: 'button'
