= decidim_form_for(@form, url: posts_path, html: { class: 'form' }) do |f|
  .card
    .card__content
      .card-divider
        %h2.card-title
          = t('title', scope: 'ema.blog_posts.admin.new')

      .card-section
        .row.column
          = f.text_field :title, required: true

        .row.column
          .field
            = f.editor :body, lines: 8, toolbar: :full

        .row.columns.xlarge-6
          .field
            = f.upload :hero_image

          .field
            = f.check_box :hide_hero_image

        .row.column
          .field
            = f.check_box :published

  .button--double
    = f.submit t('save', scope: 'ema.blog_posts.admin.new'), class: 'button', data: { disable_with: true }
    = link_to t('cancel', scope: 'ema.blog_posts.admin.new'), posts_path, class: 'button'
