.row
  .card.card--post
    .card__content
      .card-divider
        %h2.card-title
          = t('title', scope: 'ema.blog_posts.admin.show')

      .card-section
        - if @blog_post.hero_image.attached?
          = image_tag @blog_post.attached_uploader(:hero_image).variant_path :medium

        %h2.card__title
          = @blog_post.title

        .card__author
          = l(@blog_post.created_at, format: :short)

      = decidim_sanitize_editor_admin(@blog_post.body.html_safe)

  .button--double
    = link_to t('back', scope: 'ema.blog_posts.admin.show'), posts_path, class: 'button'
    = link_to t('edit', scope: 'ema.blog_posts.admin.show'), edit_post_path(@blog_post), class: 'button'
    = button_to t('delete', scope: 'ema.blog_posts.admin.show'), post_path(@blog_post), method: 'delete', data: { confirm: t('delete_confirmation', scope: 'ema.blog_posts.admin.show') }, class: 'button'
