- return if request.path[1..-1].split('/').size > 1

.reveal#helpSectionModal{ data: { reveal: true } }

.floating-helper-container
  #floating-helper-block.floating-helper__wrapper.row.column
    .floating-helper__content
      .floating-helper__content-inner
        %div
          %h2
            %span
              = t("decidim.menu.#{id}")
          %p
            %span
              = strip_tags(Nokogiri::HTML.parse(content).css('p').first.text)
          %p.read-more
            %span
              = link_to("/help_sections/#{id}", data: { open: 'helpSectionModal', open_url: "/help_sections/#{id}" }) do
                Mehr erfahren
                = icon("chevron-right")


