- provide :meta_title, 'Aktuelles'

.wrapper
  .row

    - @blog_posts.each do |blog_post|
      .card.card--post
        .card__content
          .card__header
            = link_to post_path(blog_post), class: 'card__link' do
              %h2.card__title
                = blog_post.title

            .card__author
              = l(blog_post.created_at, format: :short)

          = decidim_sanitize_editor(blog_post.body.html_safe)

    = decidim_paginate @blog_posts
