- provide :meta_title, t('title', scope: 'ema.blog_posts.index')

.wrapper.blog-posts
  .row 
    - @blog_posts.each do |blog_post|
      .media-object.stack-for-small.blog-post
        .media-object-section
          .image
            - if blog_post.hero_image.attached?
              = image_tag blog_post.attached_uploader(:hero_image).variant_path :small
        .media-object-section.text
          = link_to post_path(blog_post), class: 'card__link' do
            %h2.card__title
              = blog_post.title
          %p
            = truncate(strip_tags(blog_post.body), length: 200)
          
          %p
            = l(blog_post.created_at, format: :short)

  = decidim_paginate @blog_posts