.wrapper
  .row

    .card.card--post
      .card__content
        .card__header
          %h2.card__title
            = @blog_post.title

          .card_creation_date
            = l(@blog_post.created_at, format: :short)

        - if @blog_post.hero_image.attached? && !@blog_post.hide_hero_image
          = image_tag @blog_post.attached_uploader(:hero_image).variant_path :large

        .body
          = decidim_sanitize_editor_admin(@blog_post.body.html_safe)


        = comments_for @blog_post

        - if content_for? :expanded
          .expanded
            .wrapper
              .row
                = yield :expanded
